/* *{
    border: 2px solid greenyellow;      <--- i use this technique for debugging :P
} */
body {
  margin: 0;
  color: #547c9a;
  font-weight: bold;
}

#wrapper {
  margin: 50px auto;
  width: 80vw;
  color: #415874;
  height: 100vh;
  border: 2px solid #547c9a;
  padding: 30px;
}

header {
  height: 0;
}
header div {
  background: white;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  transform: translateY(-65px);
}
header div h1 {
  margin: 0;
  display: inline;
}
main {
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main > section:nth-child(2) {
  border-left: 2px solid #547c9a;
  padding-left: 30px;
}

main > section > section {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

p,
li,
h3 {
  font-weight: normal;
}

@media screen and (min-width: 950px) {
  #wrapper {
    width: 800px;
  }
  header {
    height: 1em;
  }
  main > section > section {
    margin-bottom: 40px;
  }
}
