* {
  /* border: 1px solid yellowgreen; */
  margin: 0;
  padding: 0;
}

body {
  height: 99vh;
}

section#container {
  display: grid;
  grid-template-columns: 3fr 5fr 0.25fr;
}

header {
  height: 10vh;
  background-color: #24292e;
  border: none;
  grid-area: "header";
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 1em;
  /* width: 100%; */
  /* padding: 1%; */
}

main {
  grid-area: "main";
  background-color: #e1e4e8;
  z-index: 0;
}

aside {
  grid-area: "aside";
  /* box-shadow: 2px 0 3px black; */
  z-index: 1;
}

nav {
  grid-area: "nav";
  /* box-shadow: -2px 0 3px black; */
  z-index: 1;
  /* background-color: #e1e4e8; */
}

aside,
main {
  height: 89vh;
  padding: 1em;
  /* border: 1px solid black; */
}
.navIcon {
  width: 30px;
  height: 50px;
  margin: 10px auto;
}
img:hover {
  filter: opacity(0.8);
}
.navIcon:hover {
  filter: opacity(0.3);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: 1em auto;
}

input[type="text"] {
  width: 50%;
}

article#profile {
  margin: 0 auto;
  padding: 1em;
  /* border: 1px solid black; */
  height: 37%;
  /* background-color: blue; */
  display: flex;
}
img#profilePic {
  /* width: 50%; */
  border-radius: 30px;
  display: inline;
  flex-grow: 1;
  border: 1px solid black;
}
#info {
  /* border: 1px solid black; */
  display: inline-block;
  flex-grow: 5;
  margin-left: 1em;
  padding: 1em;
  background-color: white;
  /* color: white; */
}
#name:before {
  content: "Name : ";
}
#bio:before {
  content: "BIO : ";
}
#created:before {
  content: "Started : ";
}
#followers:before {
  content: "followers : ";
}
#following:before {
  content: "following : ";
}
#public_repos:before {
  content: "Repos : ";
}
#public_gists:before {
  content: "Gists : ";
}

article#repos {
  padding: 1em;
}

div.repositoris {
  height: 300px;
  overflow: auto;
}

.repo {
  padding: 1em;
  background: white;
  margin: 10px;
  width: max-content;
  min-width: 70%;
}
h2 {
  font-size: 2em;
}
@media screen and (min-width: 900px) {
  img#profilePic {
    width: 30%;
  }
  #info {
    border: 1px solid black;
    display: inline-block;
  }
}

#searchProfileBtn {
  background: #54bf52;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

input[type="text"] {
  border: 1px solid black;
}

svg {
  display: inline-block;
  vertical-align: middle;
}
.headerIcon {
  fill: white;
  overflow: visible;
}

.repo > .title {
  font-weight: 600;
}

.repo > footer > span {
  margin-right: 2em;
  margin-top: 2px;
}

.code-circle {
  border: 1px solid #1b1f231a;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
  background-color: #2b7489;
}
